BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHANNEL_ID=your_channel_id_here

DB_PATH=data/orders.db
MAX_LOADS=1000

CITIES_FILE=data/cities_list.json

ADMIN_IDS=[your_admin_id_here, second_admin_id_here]
ERROR_NOTIFICATION_ENABLED=True
ERROR_NOTIFICATION_DELAY=60

MAX_RETRIES=3